@model List<CrudJeudi.Context.customer>


@{
    ViewBag.Title = "CustomerList";
}

<h2>Liste des utilisateurs</h2>

<table class="table">
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    @foreach(var c in Model)
    {
    <tr>
        <td>@c.firstname</td>
        <td>@c.lastname</td>
        <td>@c.email</td>
        <td>@c.mobile</td>
        <td>
            <a href="@Url.Action("Customer", new { c.Id, c.firstname, c.lastname, c.email, c.mobile } )" class="btn btn-success">Editer</a>
            <a href="@Url.Action("Delete", new { c.Id } )" >supprimer</a>
        </td>
    </tr>

    }
</table>

